@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar {
  width: 0.6vw;
  background-color: #121212;
}

/* Cor da alça da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
  border-radius: 6px;
}
